#devicecontainer{
  position: absolute;
  width: 100%;
  top: 70px;
  bottom: 0;
  scroll: auto;
  overflow: scroll;
}

.devicepanel{
  position: relative;
  height: 90px;
  margin: 1px 0 0 0;
  background-color: white;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.devicebkcolor1{
  background-color:rgb(235,79,56);
}
.devicebkcolor2{
  background-color:#14BA7B;
}
.devicebkcolor3{
  background-color:rgb(131,118,116);
}

.devicecolor1{
  color:rgb(235,79,56);
}
.devicecolor2{
  color:#14BA7B;
}
.devicecolor3{
  color:rgb(131,118,116);
}
