#devicecontainer{
  position: absolute;
  width: 100%;
  top: 114px;
  bottom: 0;
  scroll: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.weui_search_bar{
  background-color: #373B42;
  padding: 8px 0px;
}

.weui_search_text{
  padding: 2px 0 0 0;
  background: #f3f3f3;
}

.deviceanimate{
  transition: all 0.1s linear;
}

.devicepanel{
  position: relative;
  height: 65px;
  margin: 1px 0 0 0;
  background-color: #3d414a;
  display: flex;
}

.devicestateline{
  height: 100%;
  width: 5px;
}

.devicetext1{
  text-align: center;
  height: 100%;
  line-height: 65px;
  width: 48px;
  font-size: 13px;
  color: #999CA1;
  pointer-events: none;
}

.devicetext2{
  height: 100%;
  width: e("calc(100% - 210px)");
  line-height: 65px;
  font-size: 15px;
  color: #ededed;
  text-align: center;
  background-color: rgb(58, 62, 71);
  pointer-events: none;
}

.devicetext4{
  text-align: center;
  height: 100%;
  line-height: 65px;
  width: 60px;
  font-size: 13px;
  color: #999CA1;
  pointer-events: none;
}

.devicetext5{
  text-align: center;
  height: 100%;
  line-height: 65px;
  width: 48px;
  font-size: 13px;
  color: #999CA1;
  pointer-events: none;
}

.devicetext3{
  text-align: center;
  width: 40px;
  height: 100%;
  line-height: 65px;
  font-size: 13px;
  font-weight: bold;
  pointer-events: none;
}

.devicemore1{
  position: absolute;
  left: 100%;
  text-align: center;
  height: 100%;
  line-height: 65px;
  width: 90px;
  font-size: 20px;
  color: white;
  pointer-events: none;
  background-color: #57c5f7;
}

.devicemore2{
  position: absolute;
  text-align: center;
  left: e("calc(100% + 90px)");
  line-height: 65px;
  width: 90px;
  font-size: 20px;
  color: #FFF900;
  pointer-events: none;
  background-color: #2baee9;
}

.devicetype_video{
  //background-image: url("../img/video.png");
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  left: 14px;
  top: 8px;
  /* bottom: 5px; */
  position: absolute;
}

#prespace{
  height: 53px;
}

#flitercontainer{
  z-index: 2;
  position: absolute;
  height: 53px;
  width: 100%;
  background-color: #3D414A;
}

.fliterblock{
  position: relative;
  margin: 9px 0 9px 10px;
  padding: 0 9px;
  line-height: 35px;
  font-size: 13px;
  border-radius: 3px;
  border-style: solid;
  width: 65px;
  color: #2A374F;
  background-color: #f3f3f3;
  border-width: 1px;
  border-color: rgb(42, 55, 79);
}

.flitercheck{
  background-color: #2A374F;
  color: white;
}

.flitercheckicon{
  position: absolute;
  font-size: 12px;
  bottom: -1px;
  right: -1px;
  /* left: 58px; */
  transform: scale(0.8);
}

.devicebkcolor1{
  background-color:rgb(235,79,56);
}
.devicebkcolor2{
  background-color:rgb(32,142,165);
}
.devicebkcolor3{
  background-color:rgb(131,118,116);
}

.devicecolor1{
  color:rgb(235,79,56);
}
.devicecolor2{
  color:rgb(32,142,165);
}
.devicecolor3{
  color:rgb(131,118,116);
}
